<h1 style="color:green;"> <%= @blog.title %> </h1> 
<p> <%= @blog.content %> </p>
<%= link_to 'Home', root_path %> 
<%= link_to 'Edit Blog', edit_blog_path %> 
<br>
<%= button_to 'Delete Blog', destroy_blog_path, method: :delete %> 